@font-face {
  font-family: 'Gluten';
  src: url('fonts/Gluten.ttf') format('truetype');
}

@font-face {
  font-family: 'GillSans';
  src: url('fonts/GillSans.ttf') format('truetype');
}

body {
  padding: 20px;
  margin: 0;
  background-color: #000;
  font-family: 'Gluten', 'Open Sans', sans-serif;
  font-style: normal;
  color: white;
  font-weight: 300;
  display: flex;
  align-items: top;
  text-align: left;
  justify-content: center;
  overflow: auto;
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: contain; /* or 'auto' or 'none' */
}

.sticky-header {
  color: #fff;
  padding: 200px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  position: fixed;
  width: 35%; /* Adjusted width to 30% */
  right: 15%; /* Increased right margin to 10% */
  top: 0;
  height: 100%;
  overflow-y: auto; /* Allow scrolling within the container */
  z-index: 3;
}

.sticky-header h1 {
  text-align: left;
  margin: 0 20px;
  color: white;
  font-size: 80px;
  position: fixed;
}

.sticky-header p {
  text-align: left;
  margin: 90px 20px 20px 720px;
  color: white;
  font-size: 16px;
  line-height: 1.3;
  position: fixed;
}

.sticky-header button {
  margin: 0px 0px 0px 20px;
  padding: 30px 20px;
  background-color: #000000;
  color: #fff;
  border: 3px dashed #fff; /* Add dashed border */
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gluten', 'Open Sans', sans-serif;
  font-size:20px;
}

.container p {
  margin: 0 80px; /* Add margin for better readability */
  padding: 20px;
  color: white;
  font-size: 32px;
  line-height: 1.6;
  text-align: left;
  font-family: 'Gluten', 'Open Sans', sans-serif; /* Use the 'Gluten' font */
  position: relative;
}

.container p::before {
  content: '';
  position: absolute;
  top: -25px;
  left: -25px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background: rgba(32, 32, 32, 0.9); /* Adjust the color and opacity as needed */
  border-radius: 40px; /* Adjust the border-radius value for rounded corners */
  z-index: -1; /* Place the overlay behind the text */
}

.container p.exclude-box::before {
  content: none; /* Exclude the box for paragraphs with the "exclude-box" class */
}

.opaque-overlay {
  position: fixed; /* Change position to absolute */
  top: 0;
  left: 50%; /* Adjusted to center the overlay */
  width: 40%; /* Adjusted to a smaller width */
  background: rgba(255, 255, 255, 1);
  z-index: 3;
}

.container::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.5); /* Set the color of the scrollbar thumb */
  border-radius: 2px; /* Optional: Add rounded corners to the thumb */
}

.container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}


.overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%; /* Adjust the maximum width as needed */
  max-height: 90%; /* Adjust the maximum height as needed */
  overflow: auto; /* Enable scrolling if content exceeds the maximum height */
}

.popup-box button {
  display: block;
  margin: 20px auto;
  padding: 30px 20px;
  background-color: #fff;
  color: #000;
  border: 3px dashed #000; /* Add dashed border */
  border-radius: 5px; 
  cursor: pointer;
  font-family: 'Gluten', 'Open Sans', sans-serif;
  font-size:20px;
}

.popup-box {
  position: fixed;
  top:50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-box p {
  color:#000000;
  font-size: 20px;
  line-height:1.3;
  font-family:"GillSans";
}

.popup-box h2 {
  margin-top: 20px;
  color:#000000;
  font-size: 40px;
  font-family: 'Gluten', 'Open Sans', sans-serif;
}

